# Copyright (c) 2009-2012, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of The Linux Foundation nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

import /vendor/etc/init/hw/init.qcom.power.rc
import /vendor/etc/init/hw/init.qcom.usb.rc
import /vendor/etc/init/hw/init.samsung.display.rc
import /vendor/etc/init/hw/init.vendor.sensors.rc
import /vendor/etc/init/hw/wifi_sec.rc

on early-init
    mount debugfs debugfs /sys/kernel/debug
    chmod 0755 /sys/kernel/debug
    chown system system /sys/kernel/debug

    # ZRAM setup
    write /sys/block/zram0/comp_algorithm lz4
    write /sys/block/zram0/max_comp_streams 4
    write /proc/sys/vm/page-cluster 0

on init
    # E system_server: open failed: /dev/mdm: No such file or directory
    mkdir /dev/mdm 0775 system system

on fs
    mount_all /vendor/etc/fstab.qcom

    restorecon_recursive /efs

    write /sys/kernel/boot_adsp/boot 1
    setprop qcom.audio.init complete

    # Adaptive LMK
    write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 1
    write /sys/module/lowmemorykiller/parameters/vmpressure_file_min 53059

    # disable lmk_fast_run earlier
    write /sys/module/lowmemorykiller/parameters/lmk_fast_run 0

    # GnssConfiguration doesn't actually look at gps.conf, just the debug file
    mount none /system/etc/gps.conf /system/etc/gps_debug.conf bind

on post-fs
    # for controlling write performance boosting
    chown system radio /sys/block/mmcblk0/bkops_en
    chmod 0664 /sys/block/mmcblk0/bkops_en

on post-fs-data
    # Create directories for tombstones
    mkdir /data/tombstones/modem 0771 system system
    mkdir /data/tombstones/lpass 0771 system system
    mkdir /data/tombstones/dsps 0771 system system
    mkdir /data/tombstones/mdm 0771 system system

    # Chown polling nodes as needed from UI running on system server
    chown system system /sys/devices/msm_sdcc.1/polling
    chown system system /sys/devices/msm_sdcc.2/polling
    chmod 0664 /sys/devices/msm_sdcc.1/polling
    chmod 0664 /sys/devices/msm_sdcc.2/polling

    # For disabling softkeys
    chown system radio /sys/class/sec/sec_touchkey/brightness
    chmod 0664 sys/class/sec/sec_touchkey/brightness

    # Torch
    chmod 0660 /sys/class/leds/torch-sec1/brightness
    chown system camera /sys/class/leds/torch-sec1/brightness

    # create directory for ril data
    mkdir /data/misc/radio 0775 radio radio

    # drm and related files in EFS
    mkdir /efs/drm 0774 drm system
    mkdir /efs/drm/sdrm 0774 drm system

    # h2k permission
    chown radio radio /efs/h2k.dat
    chmod 0644 /efs/h2k.dat
    chown system system /efs/drm/h2k

    # Magnetic_sensor
    chown system system /efs/hw_offset
    chmod 0660 /efs/hw_offset

    # Sensors
    chown system system /efs/prox_cal
    chmod 0640 /efs/prox_cal

    chown system system /efs/FactoryApp/baro_delta
    chmod 0640 /efs/FactoryApp/baro_delta

    chown system system /efs/gyro_cal_data
    chmod 0640 /efs/gyro_cal_data

    # Permissions for svc led
    chown system system /sys/class/sec/led/led_r
    chown system system /sys/class/sec/led/led_g
    chown system system /sys/class/sec/led/led_b
    chown system system /sys/class/sec/led/led_pattern
    chown system system /sys/class/sec/led/led_br_lev
    chown system system /sys/class/sec/led/led_lowpower

    # Create directories for perfd
    mkdir /data/vendor/perfd 2770 root system

    # Smart Charging
    chown system system /sys/class/power_supply/battery/batt_slate_mode

    # Remove symlinks to avoid issues with migrate after nandroid restores
    # Will be recreated at end of boot
    rm /data/data/com.android.providers.telephony/databases
    rm /data/data/com.android.providers.telephony/shared_prefs

    setprop vold.post_fs_data_done 1

on early-boot
    # set RLIMIT_MEMLOCK to 64MB
    setrlimit 8 67108864 67108864

on boot
    # for BT MAC address
    mkdir /efs/bluetooth 0770 system bluetooth
    # if already exist
    chown system bluetooth /efs/bluetooth
    chown system bluetooth /efs/bluetooth/bt_addr
    chmod 0770 /efs/bluetooth
    chmod 0660 /efs/bluetooth/bt_addr

    # permissions for bluetooth.
    chown bluetooth bluetooth ro.bt.bdaddr_path

    # Bluetooth UART dev
    chown bluetooth bluetooth /sys/devices/f995e000.uart/clock
    chmod 0660 /sys/devices/f995e000.uart/clock

    # permissions for bluetooth.
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chmod 0660 /proc/bluetooth/sleep/proto
    chown system system /sys/module/sco/parameters/disable_esco

    # bluetooth LPM
    chmod 0660 /proc/bluetooth/sleep/lpm
    chmod 0220 /proc/bluetooth/sleep/btwrite
    chown bluetooth bluetooth /proc/bluetooth/sleep/lpm
    chown bluetooth bluetooth /proc/bluetooth/sleep/btwrite

    # Create QMUX deamon socket area
    mkdir /dev/socket/qmux_radio 2770 radio radio
    mkdir /dev/socket/qmux_audio 2770 media audio
    mkdir /dev/socket/qmux_bluetooth 2770 bluetooth bluetooth
    mkdir /dev/socket/qmux_gps 2770 gps gps

    # create symlink for fb1 as HDMI
    symlink /dev/graphics/fb1 /dev/graphics/hdmi

    # To allow interfaces to get v6 address when tethering is enabled
    write /proc/sys/net/ipv6/conf/rmnet0/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet1/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet2/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet3/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet4/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet5/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet6/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet7/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_usb0/accept_ra 2

    # To prevent out of order acknowledgements from making
    # connection tracking to treat them as not belonging to
    # the connection they belong to.
    # Otherwise, a weird issue happens in which some long
    # connections on high-throughput links get dropped when
    # an ack packet comes out of order
    write /proc/sys/net/netfilter/nf_conntrack_tcp_be_liberal 1

    # Flash storage isn't a good entropy source, and only causes locking
    # overhead in the kernel. Turn it off.
    write /sys/block/mmcblk0/queue/add_random 0

    # Permission for SystemPerformance
    chown root system /sys/devices/system/cpu/kernel_max
    chmod 664 /sys/devices/system/cpu/kernel_max

    chown root system /sys/class/kgsl/kgsl-3d0/max_pwrlevel
    chown root system /sys/class/kgsl/kgsl-3d0/min_pwrlevel
    chown root system /sys/class/kgsl/kgsl-3d0/gpu_available_frequencies
    chmod 0664 /sys/class/kgsl/kgsl-3d0/max_pwrlevel
    chmod 0664 /sys/class/kgsl/kgsl-3d0/min_pwrlevel
    chmod 0664 /sys/class/kgsl/kgsl-3d0/gpu_available_frequencies

    chown root system /sys/class/devfreq/qcom,cpubw.42/available_frequencies
    chown root system /sys/class/devfreq/qcom,cpubw.42/available_governors
    chown root system /sys/class/devfreq/qcom,cpubw.42/governor
    chown root system /sys/class/devfreq/qcom,cpubw.42/max_freq
    chown root system /sys/class/devfreq/qcom,cpubw.42/min_freq
    chmod 664 /sys/class/devfreq/qcom,cpubw.42/available_frequencies
    chmod 664 /sys/class/devfreq/qcom,cpubw.42/available_governors
    chmod 664 /sys/class/devfreq/qcom,cpubw.42/governor
    chmod 664 /sys/class/devfreq/qcom,cpubw.42/max_freq
    chmod 664 /sys/class/devfreq/qcom,cpubw.42/min_freq

    # SEC PM sysfs node
    chown system radio /sys/devices/system/soc/soc0/soc_iddq
    chmod 0444 /sys/devices/system/soc/soc0/soc_iddq
    chown system radio /sys/devices/system/soc/soc0/soc_pvs
    chmod 0444 /sys/devices/system/soc/soc0/soc_pvs

    # Permission for HALL IC
    chown system system /sys/class/sec/sec_key/hall_detect

    # Permission for fast dormancy for RIL
    chown system radio /sys/devices/virtual/sec/bamdmux/waketime

    # Permissions for gpio_keys
    chown system radio /sys/class/sec/sec_key/wakeup_keys
    write /sys/class/sec/sec_key/wakeup_keys 114,115,116,172

    # Permissions for gpio_keys
    chown system radio /sys/class/sec/sec_key/hall_irq_ctrl

    # Assign TCP buffer thresholds to be ceiling value of technology maximums
    # Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max 1048576
    write /proc/sys/net/core/wmem_max 2097152

    # permission for Input Device(Touchkey).
    chmod 0660 /sys/class/input/input3/enabled
    chown system system /sys/class/input/input3/enabled
    chmod 0660 /sys/class/input/input2/enabled
    chown system system /sys/class/input/input2/enabled

    chown radio system /sys/class/sec/sec_touchkey/touch_sensitivity
    chown radio system /sys/class/sec/sec_touchkey/touchkey_firm_update
    chown system radio /sys/class/sec/sec_touchkey/glove_mode
    chown system radio /sys/class/sec/sec_touchkey/flip_mode
    chown system radio /sys/class/sec/sec_touchkey/boost_level

    # Power Hal Permissions
    chown system system /sys/class/input/input18/enabled
    chmod 0660 /sys/class/input/input18/enabled

    # DualWave
    chown system system /sys/kernel/DualWave/sound/DUALWAVE_CONFIG

    # Disable serial console notification
    stop console

# Services begin here
service vendor.adsprpcd /vendor/bin/adsprpcd
    class main
    user media
    group media

#start vendor.camera server as daemon
service vendor.qcamerasvr /vendor/bin/mm-qcamera-daemon
    class late_start
    user camera
    group camera media system inet input graphics

service vendor.qseecomd /vendor/bin/qseecomd
    class core
    user root
    group root

service vendor.thermal-engine /vendor/bin/thermal-engine
    class main
    user root
    socket thermal-send-client stream 0666 system system
    socket thermal-recv-client stream 0660 system system
    socket thermal-recv-passive-client stream 0666 system system
    group root

service vendor.irsc_util /vendor/bin/irsc_util "/vendor/etc/sec_config"
    class core
    user root
    oneshot

service vendor.rfs_access /vendor/bin/rfs_access
    class core
    user system
    group system net_raw

service vendor.rmt_storage /vendor/bin/rmt_storage
    class core
    user root
    group system wakelock
    shutdown critical

# QMUX must be in multiple groups to support external process connections
service vendor.qmuxd /vendor/bin/qmuxd
    class core
    user radio
    group radio audio bluetooth gps oem_2950 wakelock log

on property:sys.boot_completed=1
    # Symlink directories to access telephony.db and preferred-apn.xml required by libsec-ril
    symlink /data/user_de/0/com.android.providers.telephony/databases /data/data/com.android.providers.telephony/databases
    symlink /data/user_de/0/com.android.providers.telephony/shared_prefs /data/data/com.android.providers.telephony/shared_prefs
    restorecon /data/data/com.android.providers.telephony/databases
    restorecon /data/data/com.android.providers.telephony/shared_prefs

    # Enable ZRAM on boot_complete
    swapon_all /vendor/etc/fstab.enableswap

    # Disable native stats collection service
    stop statsd

service charger /system/bin/charger
    class charger
    user system
    group system graphics input
    capabilities SYS_BOOT
    seclabel u:r:charger:s0

# Disable SSR to SoC restart
on property:persist.sys.ssr.restart_level=1
    write /sys/module/subsystem_restart/parameters/restart_level 1
    write /sys/bus/msm_subsys/devices/subsys0/restart_level system
    write /sys/bus/msm_subsys/devices/subsys1/restart_level system
    write /sys/bus/msm_subsys/devices/subsys2/restart_level system

# Enable SSR
on property:persist.sys.ssr.restart_level=3
    write /sys/module/subsystem_restart/parameters/restart_level 3
    write /sys/bus/msm_subsys/devices/subsys0/restart_level related
    write /sys/bus/msm_subsys/devices/subsys1/restart_level related
    write /sys/bus/msm_subsys/devices/subsys2/restart_level related
