on init
# Permissions for Display
    chown system system /sys/devices/virtual/lcd/panel/panel/backlight
    chown system system /sys/class/leds/lcd-backlight/max_brightness
    chmod 0664 /sys/devices/virtual/lcd/panel/panel/backlight
    chmod 0664 /sys/class/leds/lcd-backlight/max_brightness

    # Auto Brightness
    chown system system /sys/class/backlight/panel/auto_brightness
    chmod 0664 /sys/class/backlight/panel/auto_brightness

    # LCD mdnie and panel work
    chown system system /sys/class/mdnie/mdnie/scenario
    chmod 0660 /sys/class/mdnie/mdnie/scenario
    chown system system /sys/class/mdnie/mdnie/outdoor
    chown system system /sys/class/mdnie/mdnie/accessibility
    chown system system /sys/class/mdnie/mdnie/mode
    chown system system /sys/class/mdnie/mdnie/playspeed
    chown system system /sys/class/lcd/panel/window_type
    chown radio system /sys/class/lcd/panel/power_reduce
    chown radio system /sys/class/lcd/panel/siop_enable
    chown radio system /sys/class/lcd/panel/temperature
    chown radio system /sys/class/lcd/panel/tuning

    chown system system /sys/class/sec/led/led_blink
    chmod 0664 /sys/class/sec/led/led_blink
