#
# Copyright (c) 2020 The LineageOS Project. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of The Linux Foundation nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

# the DIAG device node is not world writable/readable.
/dev/diag                 0660   system     oem_2950

/dev/alarm                0664   system     radio
/dev/genlock              0666   system     system
/dev/kgsl-3d0             0666   system     system
/dev/ion                  0664   system     system
/dev/qmi*                 0640   radio      radio
/dev/rtc0                 0660   system     system
/dev/smd0                 0660   system     system
/dev/smd4                 0660   system     system
/dev/smd5                 0660   system     system
/dev/smd6                 0660   system     system
/dev/smd7                 0660   bluetooth  bluetooth
/dev/smd11                0660   radio      radio
/dev/smd_cxm_qmi          0640   radio      radio

#permissions for CSVT

/dev/smdcntl*             0640   radio      radio
/dev/smdcnt_rev*          0640   radio      radio
/dev/rmnet_mux_ctrl       0640   radio      radio
/dev/video*               0660   media     camera
/dev/media*               0660   media     camera
/dev/v4l-subdev*          0660   media     camera
/dev/qseecom              0660   system     drmrpc
/dev/qce                  0660   system     drmrpc
/dev/jpeg*                0660   media     camera
/dev/adsprpc-smd          0664   system     system
/dev/rmnet_ctrl           0660   usb        usb

# for datarouter
/dev/dun               0660   system     system
/dev/ttyGS*            0660   system     system

#permissions for audio
/dev/msm_qcelp            0660   system     audio
/dev/msm_evrc             0660   system     audio
/dev/msm_wma              0660   system     audio
/dev/msm_wmapro           0660   system     audio
/dev/msm_amrnb            0660   system     audio
/dev/msm_amrwb            0660   system     audio
/dev/msm_amrwbplus        0660   system     audio
/dev/msm_aac              0660   system     audio
/dev/msm_multi_aac        0660   system     audio
/dev/msm_aac_in           0660   system     audio
/dev/msm_qcelp_in         0660   system     audio
/dev/msm_evrc_in          0660   system     audio
/dev/msm_amrnb_in         0660   system     audio
/dev/msm_amrwb_in         0660   system     audio
/dev/msm_acdb             0660   system     audio
/dev/msm_mp3              0660   system     audio
/dev/msm_rtac             0660   system     audio
/dev/msm_thermal_query    0640   radio      system
/dev/snd/*                0660   system     audio
/dev/msm_sps              0660   system     audio
/dev/voice_svc            0660   system     audio
/dev/avtimer              0660   system     audio
/dev/snd/pcmC0D2c         0660   media      media
/dev/i2c-5                0660   media      media
/dev/smd3                 0660   bluetooth  bluetooth
/dev/smd2                 0660   bluetooth  bluetooth
/dev/ttyHSL0              0660   radio      system

/sys/devices/virtual/smdpkt/smdcntl*       open_timeout   0664 radio radio

# sensors
/sys/devices/i2c-12/12-*  pollrate_ms 0664 system system

# sysfs properties
/sys/devices/virtual/input/input*   enable      0660  root   input
/sys/devices/virtual/input/input*   delay       0660  root   input
/sys/devices/virtual/input/input*   poll_delay  0660  root   input
/sys/devices/virtual/input/input*   flush       0660  root   input
/sys/devices/virtual/input/input*   poll        0660  input  system
/sys/devices/virtual/input/input*   pollrate_ms 0660  input  system

/sys/devices/f9924000.i2c/i2c-2/2-0020/input/input3   enabled     0660  system  system

# TSP
/sys/class/sec/tsp cmd 0660 system radio

# USB OTG
/sys/class/sec/switch       usb_state   0664    radio   system
/sys/class/sec/switch       chg_type    0664    radio   system
/sys/class/sec/switch       otg_test    0664    radio   system
/sys/class/sec/switch       usb_sel     0664    radio   system
/sys/class/sec/switch       adc         0664    radio   system
/sys/class/sec/switch       uart_sel    0664    radio   system
/sys/class/sec/switch       apo_factory 0664    radio   system

# Camera::Flash
/sys/class/camera/flash    rear_flash              0664    system    camera

# Camera::Front1
/sys/class/camera/front    front_camfw              0664    system    system
/sys/class/camera/front    front_camtype            0444    system    system

# Camera::Rear Start
/sys/class/camera/rear    isp_core                  0664    system   system
/sys/class/camera/rear    rear_camfw                0664    system   system
/sys/class/camera/rear    rear_camfw_full           0664    system   system
/sys/class/camera/rear    rear_camfw_load           0664    system   system
/sys/class/camera/rear    rear_camtype              0444    system   system
/sys/class/camera/rear    rear_calcheck             0664    system   system
/sys/class/camera/rear    rear_fwcheck              0664    system   system
/sys/class/camera/rear    rear_companionfw_full     0664    system   system
/sys/class/camera/rear    rear_latest_module_check  0664    system   system

#
# Permissions for Vibrator
#
/sys/class/timed_output/vibrator    enable             0660   system system
/sys/class/timed_output/vibrator    pwm_threshold      0440   system system
/sys/class/timed_output/vibrator    pwm_default        0660   system system
/sys/class/timed_output/vibrator    pwm_min            0440   system system
/sys/class/timed_output/vibrator    pwm_max            0440   system system
/sys/class/timed_output/vibrator    pwm_value          0660   system system

# sensorhub
/dev/ssp_sensorhub        0660   system     system

# Bluetooth
/dev/ttyHS0               0660   bluetooth  bluetooth

# bluetooth LPM
/dev/btlock               0600   bluetooth  bluetooth

/dev/rmnet_ctrl           0660   usb        usb

# UIO devices
/dev/uio*                 0660   system     system

# Ramdump devices
/dev/ramdump*             0640   system     system

# SSR devices
/dev/subsys_*             0640   system     system

# EFS
/dev/block/mmcblk0p11     0660   system     system

# wlan
/dev/rfkill               0600   wifi       wifi