on post-fs-data
    # IR_LED
    chown system radio /sys/class/sec/sec_ir/ir_send
    chown system radio /sys/class/sec/sec_ir/ir_send_result

service vendor.ir-hal-1-0 /vendor/bin/hw/android.hardware.ir@1.0-service.ks01lte
    interface android.hardware.ir@1.0::IConsumerIr default
    class hal
    user system
    group system
