on early-boot
    chown system system /sys/devices/virtual/lcd/panel/panel/backlight
    chown system system /sys/class/leds/lcd-backlight/max_brightness
    chown system system /sys/class/sec/led/led_blink

    chmod 0664 /sys/devices/virtual/lcd/panel/panel/backlight
    chmod 0664 /sys/class/leds/lcd-backlight/max_brightness
    chmod 0664 /sys/class/sec/led/led_blink

service vendor.light-default /vendor/bin/hw/android.hardware.light-service.ks01lte
    class hal
    user system
    group system
    shutdown critical
